/* Shared */
body {
    text-align: center;
}

.title {
    color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: white 0px 0px 15px;
    padding: 10px 5px;
}

table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 1vw;
    border: 2px solid #777;
    border-radius: 10px;
    background-color: rgba(90, 90, 90, 0.8);
    box-shadow: #777 0px 0px 15px;
    margin-bottom: 1.5vw;
    padding: 10px 5px;
}

.element {
    cursor: pointer;
    box-shadow: white 0px 0px 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: white 0px 0px 15px;
}

.element td {
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.command {
    color:indianred;
    text-shadow: 0 0 2px palevioletred;
    border-right: none !important;
    border-radius: 10px 0px 0px 10px !important;
}

.desc {
    color: green;
    text-shadow: 0 0 2px olivedrab;
    border-left: none !important;
    border-radius: 0px 10px 10px 0px !important;
}

h2 {
    font-style: italic;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    box-shadow: yellow 0px 0px 15px;
    background-color: rgba(255, 255, 0, 0.3);
    padding: 10px 20px;
    width: max-content;
    margin: 0 auto;
}

h3 {
    border: 2px solid lemonchiffon;
    border-radius: 10px;
    box-shadow: lemonchiffon 0px 0px 15px;
    background-color: rgba(255, 255, 210, 0.6);
    text-align: center;
    color: lemonchiffon;
}

.tags {
    background-color: rgba(0, 255, 0, 0.3);
    border: 2px solid lime;
    border-radius: 10px;
    box-shadow: lime 0px 0px 15px;
    color: limegreen;
    padding: 5px 10px;
}

.tags::placeholder {
    color: lightgreen;
    opacity: 1;
}

.hidden {
    display: none !important;
}


@media screen and (max-width:800px) {
    .maincontainer {
        grid-area: 1/1/1/6;
    }

    .title {
        font-size: 5vw;
    }

    table {
        grid-area: 2/1/2/6;
    }

    .command {
        width: 35vw;
        font-size: 4vw;
    }

    .desc {
        width: 65vw;
        font-size: 4vw;
    }

    .element td {
        font-size:4vw;
        height: 9vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 6vw;
        max-width: 90vw;
        padding: 1.5vw 3vw;
        display: inline-block;
    }

    .tags {
        margin: 5vw;
        font-size: 3.25vw;
    }
}

@media screen and (min-width:801px) and (max-width:1280px){
    .maincontainer {
        grid-area: 1/2/1/10;
    }

    .title {
        grid-area: 1/2/1/10;
        margin-bottom: none;
        font-size: 2.75vw;
    }

    table {
        grid-area: 2/2/2/10;
    }

    .command {
        width: 30vw;
        font-size: 2.5vw;
    }

    .desc {
        width: 60vw;
        font-size: 2.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 2.25vw;
        max-width: 50vw;
        padding: 0.25vw 1vw;
        display: inline-block;
    }

    .tags {
        width: 25vw;
        font-size: 1.75vw;
        margin:3vw;
    }

}

@media screen and (min-width:1281px){
    .maincontainer {
        grid-area: 1/2/1/10;
    }

    .title {
        grid-area: 1/2/1/10;
        margin-bottom: none;
        font-size: 2vw;
    }

    table {
        grid-area: 2/2/2/10;
    }

    .command {
        width: 30vw;
        font-size: 1.5vw;
    }

    .desc {
        width: 60vw;
        font-size: 1.5vw;
    }

    h2 {
        font-size: 1vw;
    }

    h3 {
        font-size: 1.75vw;
        max-width: 50vw;
        padding: 0.25vw 1vw;
        display: inline-block;
    }

    .tags {
        width: 25vw;
        font-size: 1.25vw;
        margin:2.25vw;
    }

}