@font-face {
    font-family: 'Minecrafter Alt';
    src: url('https://development.legacyoflexicus.com/assets/Minecrafter.Alt.ttf');
}

/* Shared */
body {
    background-color: black;
}

#homeul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid white;
}

#homeul img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#homeul li a {
    background-color: rgba(0, 255, 255, 0.1);
    border: 2px solid transparent;
    margin: -2px;
    z-index: 0;
    color: #00AAAA;
    padding: 10px 16px;
    text-decoration: none;
}

#homeul li a:hover {
    background-color: rgba(0, 255, 255, 0.2);
    border: 2px solid cyan;
    position: relative;
    margin: -2px;
    z-index: 1;
    color: cyan;
}

.active {
    background-color: rgba(0, 255, 255, 0.4) !important;
    border: 2px solid cyan !important;
    margin: -2px;
    position: relative;
    z-index: 2;
    box-shadow: cyan 0px 0px 5px !important;
    color: cyan !important;
}

.sitename {
    padding: 10px 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: cyan;
    font-family: 'Minecrafter Alt', 'Courier New', Courier, monospace;
}

.warning {
    border: 2px solid gold !important;
    border-radius: 10px;
    box-shadow: yellow 0px 0px 5px !important;
}

footer {
    background-color: black;
    color: white;
    border: 1px solid white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100vw - (100vw - 100%) - 18px);
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: block;
}

footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width:800px) {
    body {
        margin-bottom: 13vw;
    }

    #homeul {
        display: flow-root;
    }

    #homeul li {
        font-size: 4vw;
        display: block;
    }

    #homeul li a {
        display: none;
    }

    .menu {
        display: block !important;
        float: left;
    }

    .menuelements {
        position: absolute;
        margin-top: calc(4vw + 26px);
        clear: both;
        float: left;
    }

    .menutop:hover ul li a{
        display: block !important;
        background-color: black !important;
    }

    .sitename {
        margin: 0;
        right: calc(3.5vw + 16px);
    }

    #homeul img {   
        width: calc(3.5vw + 16px);
        right: 1vw;
    }

    footer {
        overflow-wrap: break-word;
        font-size: 3vw;
    }

    footer li{
        font-size: 3.75vw;
    }

    footer ul li a{
        display: initial;
        text-align: initial;
        padding: initial;
        text-decoration: none;
    }

    .left {
        color: aliceblue;
        float: none;
    }

    .right {
        color: aliceblue;
        float: none;
    }

    .maingrid {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .warning {
        font-size: 4.5vw !important;
        text-align: center;
    }

    .desktop {
        display: none;
    }
}

@media screen and (min-width:801px) and (max-width:1280px){
    body {
        margin-bottom: 4vw;
    }

    #homeul {
        text-align: center;
        display: flex;
        justify-content: left;
        border-radius: 10px;
    }

    #homeul li {
        display: flex;
        font-size: 1.5vw;
        border-radius: 10px;
    }

    #homeul li a {
        display: block;
        text-align: center;
        border-radius: 10px;
    }

    .menu {
        display: none !important;
    }

    .menuelements {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .sitename {
        right: calc(1.5vw + 16px);
    }

    #homeul img {   
        width: calc(1.5vw + 16px);
        right: 0.3vw;
    }

    footer {
        border-radius: 8px;
    }

    footer ul {
        display: flow-root;
    }

    footer li{
        font-size: 1.5vw;
    }

    .left {
        color: aliceblue;
        float: left;
    }

    .right {
        color: aliceblue;
        float: right;
    }

    .maingrid {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }

    .warning {
        font-size: 1.5vw !important;
        text-align: center;
        padding: 5px;
    }

    .mobile {
        display: none;
    }
}

@media screen and (min-width:1281px){
    body {
        margin-bottom: 3vw;
    }

    #homeul {
        text-align: center;
        display: flex;
        justify-content: left;
        border-radius: 10px;
    }

    #homeul li {
        display: flex;
        font-size: 1.5vw;
    }

    #homeul li a {
        display: block;
        text-align: center;
        border-radius: 10px;
    }

    .menuelements {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .menu {
        display: none !important;
    }

    .sitename {
        right: calc(1.5vw + 16px);
    }

    #homeul img {   
        width: calc(1.5vw + 16px);
        right: 0.3vw;
    }

    footer {
        border-radius: 10px;
    }

    footer ul {
        display: flow-root;
    }

    footer li{
        font-size: 1.5vw;
    }

    .left {
        color: aliceblue;
        float: left;
    }

    .right {
        color: aliceblue;
        float: right;
    }

    .maingrid {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }

    .warning {
        font-size: 1.5vw !important;
        text-align: center;
        padding: 5px;
    }

    .mobile {
        display: none;
    }
}